@charset "utf-8";

ul, ol, dl {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, {
	margin-top: 0;
	margin-bottom: 0;
}

.container {
	margin-top: 0;
	margin-bottom: 0;
	padding-right: 5%;
	padding-left: 5%;
}

.content {
	font-size: 0.9em;
	padding: 30px 3% 5%;
	margin-right: 0;
	background-image: url(../images/detail_bg.png?t=20150420);
}

.container .content section {
	margin-top: 10px;
}

.container .content table {
	margin-bottom: 20px;
}

.container .content h2 {
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-top: 40px;
	font-size: 1.2em;
}

.container .content section h2 {
	color: #0024FF;
	margin-bottom: 0;
}

.container .content h3 {
	margin-top: 10px;
	padding-bottom: 0px;
	margin-left: 20px;
	margin-bottom: 0 !important;
	font-size: 1.1em;
}

dl,dd,dt{
padding:0; margin:0;
}

.container .content table tr .name {
	font-size: 1.2em;
}

.summonlist {
	font-size: 0.8em;
	top: 0px;
	margin-top: 50px !important;
	margin-bottom: 20px !important;
}

div#headerArea {
	position: fixed !important;
	position: absolute;
	top: 0;
	left: 0;
}

table {
	font-size: 0.75em;
	border-spacing: 0;
}

table th {
	color: #fff;
	padding: 8px 15px;
	background: no-repeat 2% center, rgb(2,41,88); /* Old browsers */
	background: no-repeat 2% center, -moz-linear-gradient(top,  rgba(2,41,88,1) 0%, rgba(9,77,157,1) 87%, rgba(9,77,157,1) 100%); /* FF3.6+ */
	background: no-repeat 2% center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(2,41,88,1)), color-stop(87%,rgba(9,77,157,1)), color-stop(100%,rgba(9,77,157,1))); /* 	Chrome,Safari4+ */
	background: no-repeat 2% center, -webkit-linear-gradient(top,  rgba(2,41,88,1) 0%,rgba(9,77,157,1) 87%,rgba(9,77,157,1) 100%); /* Chrome10+,Safari5.1+ */
	background: no-repeat 2% center, -o-linear-gradient(top,  rgba(2,41,88,1) 0%,rgba(9,77,157,1) 87%,rgba(9,77,157,1) 100%); /* Opera 11.10+ */
	background: no-repeat 2% center, -ms-linear-gradient(top,  rgba(2,41,88,1) 0%,rgba(9,77,157,1) 87%,rgba(9,77,157,1) 100%); /* IE10+ */
	background: no-repeat 2% center, linear-gradient(to bottom,  rgba(2,41,88,1) 0%,rgba(9,77,157,1) 87%,rgba(9,77,157,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#022958', endColorstr='#094d9d',GradientType=0 ); /* IE6-9 */
	font-weight: bold;
	border-left:1px solid #666666;
	border-top:1px solid #666666;
	border-bottom:1px solid #666666;
	line-height: 120%;
	text-align: center;
	text-shadow:1px 1px 4px #000000;
	box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
}

table th:first-child {
	border-radius: 5px 0 0 0;	
}

table th:last-child {
	border-radius:0 5px 0 0;
	border-right:1px solid #666666;
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1),0px 1px 1px rgba(255,255,255,0.3) inset;
}

table tr td {
	padding: 8px 15px;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #666666;
	text-align: center;
}

table tr td:last-child {
	border-right: 1px solid #666666;
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}

table tr {
	background: #fff;
}

table tr:nth-child(2n+1) {
	background-color: #ECF2F3;
}

table tr:last-child td {
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}

table tr:last-child td:first-child {
	border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
	border-radius: 0 0 5px 0;
}

.star {
	color: #FFD500;
	text-shadow: 1px 1px 1px #000000;
	font-size: 110%;
}
