@charset "utf-8";

ul, ol, dl {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0;
}

.container {
	margin-top: 0;
	margin-bottom: 0;
	/*padding-right: 5%;
	padding-left: 5%;*/
}

.content {
	padding: 10px 3% 5%;
	margin-right: 0;
	background-image: url(../images/detail_bg.png);
}

.container .content section {
	margin-top: 20px;
}
.container .content section h2 {
	color: #02509F;
	margin-bottom: 0;
	text-shadow: 1.5px 1.5px #BDBDBD;
}

.date {
	color: #FFD98A;
	text-shadow: 1px 1px 4px #000000;
	width: 45px;
	float: left;
	font-size: 0.9em;
}

.date1 {
	color: #FFD98A;
	text-shadow: 1px 1px 4px #000000;
	width: 45px;
	float: left;
	font-size: 0.9em;
	margin-top: 2px;
}

.infotitle {
	display: inline-block;
	font-size: 0.8em;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 1px 1px 4px #000000;
	letter-spacing: 0;
	border: none;
	box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.9), inset 0 1px 0 rgba(255, 255, 255, 0.4);
	border-radius: 5px;
	padding-top: 15px;
	padding-right: 10px;
	padding-left: 30px;
	padding-bottom: 0px;
	background: url("../images/img_bgmark_logo.png") no-repeat 2% center, rgb(2,41,88); /* Old browsers */
	background: url("../images/img_bgmark_logo.png") no-repeat 2% center, -moz-linear-gradient(top,  rgba(2,41,88,1) 0%, rgba(9,77,157,1) 87%, rgba(9,77,157,1) 100%); /* FF3.6+ */
	background: url("../images/img_bgmark_logo.png") no-repeat 2% center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(2,41,88,1)), color-stop(87%,rgba(9,77,157,1)), color-stop(100%,rgba(9,77,157,1))); /* 	Chrome,Safari4+ */
	background: url("../images/img_bgmark_logo.png") no-repeat 2% center, -webkit-linear-gradient(top,  rgba(2,41,88,1) 0%,rgba(9,77,157,1) 87%,rgba(9,77,157,1) 100%); /* Chrome10+,Safari5.1+ */
	background: url("../images/img_bgmark_logo.png") no-repeat 2% center, -o-linear-gradient(top,  rgba(2,41,88,1) 0%,rgba(9,77,157,1) 87%,rgba(9,77,157,1) 100%); /* Opera 11.10+ */
	background: url("../images/img_bgmark_logo.png") no-repeat 2% center, -ms-linear-gradient(top,  rgba(2,41,88,1) 0%,rgba(9,77,157,1) 87%,rgba(9,77,157,1) 100%); /* IE10+ */
	background: url("../images/img_bgmark_logo.png") no-repeat 2% center, linear-gradient(to bottom,  rgba(2,41,88,1) 0%,rgba(9,77,157,1) 87%,rgba(9,77,157,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#022958', endColorstr='#094d9d',GradientType=0 ); /* IE6-9 */
	width: 90%;
	text-align: left;
}

.arrow {
	background-image: url("../images/arrow-right.png");
	background-size: 20px 20px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	float: right;
}

.textsize {
	/*font-size: 0.9em;*/
}

.info {
	margin-top: 25px !important;
	margin-bottom: 30px;
}

h2 {
	color: #02509F;
	margin-top: 0;
	font-size: 1.1em;
	text-shadow:1px 1px 1px #000000;
}

table {
	font-size: 0.9em;
	border-spacing: 0;
}

table th {
	color: #fff;
	padding: 5px 5px;
	background: no-repeat 2% center, rgb(2,41,88); /* Old browsers */
	background: no-repeat 2% center, -moz-linear-gradient(top,  rgba(2,41,88,1) 0%, rgba(9,77,157,1) 87%, rgba(9,77,157,1) 100%); /* FF3.6+ */
	background: no-repeat 2% center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(2,41,88,1)), color-stop(87%,rgba(9,77,157,1)), color-stop(100%,rgba(9,77,157,1))); /* 	Chrome,Safari4+ */
	background: no-repeat 2% center, -webkit-linear-gradient(top,  rgba(2,41,88,1) 0%,rgba(9,77,157,1) 87%,rgba(9,77,157,1) 100%); /* Chrome10+,Safari5.1+ */
	background: no-repeat 2% center, -o-linear-gradient(top,  rgba(2,41,88,1) 0%,rgba(9,77,157,1) 87%,rgba(9,77,157,1) 100%); /* Opera 11.10+ */
	background: no-repeat 2% center, -ms-linear-gradient(top,  rgba(2,41,88,1) 0%,rgba(9,77,157,1) 87%,rgba(9,77,157,1) 100%); /* IE10+ */
	background: no-repeat 2% center, linear-gradient(to bottom,  rgba(2,41,88,1) 0%,rgba(9,77,157,1) 87%,rgba(9,77,157,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#022958', endColorstr='#094d9d',GradientType=0 ); /* IE6-9 */
	font-weight: bold;
	border-left:1px solid #666666;
	border-top:1px solid #666666;
	border-bottom:1px solid #666666;
	line-height: 120%;
	text-align: center;
	text-shadow:1px 1px 4px #000000;
	box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
}

table  tr:first-child td {
	border-top: 1px solid #666666;
}

table th:last-child {
	border-right:1px solid #666666;
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1),0px 1px 1px rgba(255,255,255,0.3) inset;
}

table tr td {
	/*padding: 8px 15px;*/padding: 5px 5px;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #666666;
}

table tr td:last-child {
	border-right: 1px solid #666666;
	box-shadow: 2px 0px 1px rgba(0,0,0,0.1);
}

table tr {
	background: #fff;
}

table tr:last-child td {
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}

table td.right {
	text-align:right;
}


.week {
	font-size: 2em;
	color: #00C2FD;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 1px #000000;
}

.icon img {
	vertical-align: middle;
}


/*20150915*/

table.table_red {
	font-size: 0.9em;
	border-spacing: 0;
}

table.table_red th {
	color: #fff;
	padding: 8px 15px;
	background: no-repeat 2% center, rgb(90,15,27); /* Old browsers */
	background: no-repeat 2% center, -moz-linear-gradient(top, rgb(90,15,27) 0%,rgb(207,35,36) 100%); /* FF3.6+ */
	background: no-repeat 2% center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(90,15,27)), color-stop(87%,rgba(207,35,36)), color-stop(100%,rgba(207,35,36))); /* 	Chrome,Safari4+ */
	background: no-repeat 2% center, -webkit-linear-gradient(top, rgb(90,15,27) 0%,rgb(207,35,36) 100%);; /* Chrome10+,Safari5.1+ */
	background: no-repeat 2% center, -o-linear-gradient(top, rgb(90,15,27) 0%,rgb(207,35,36) 100%); /* Opera 11.10+ */
	background: no-repeat 2% center, -ms-linear-gradient(top, rgb(90,15,27) 0%,rgb(207,35,36) 100%); /* IE10+ */
	background: no-repeat 2% center, linear-gradient(to bottom,  rgba(90,15,27,1) 0%,rgba(207,35,36,1) 87%,rgba(207,35,36,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#022958', endColorstr='#094d9d',GradientType=0 ); /* IE6-9 */
	font-weight: bold;
	border-left:1px solid #666666;
	border-top:1px solid #666666;
	border-bottom:1px solid #666666;
	line-height: 120%;
	text-align: center;
	text-shadow:1px 1px 4px #000000;
	box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
}

table.table_red th:last-child {
	border-right:1px solid #666666;
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1),0px 1px 1px rgba(255,255,255,0.3) inset;
}

table.table_red tr td {
	padding: 8px 15px;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #666666;
}

table.table_red tr td:last-child {
	border-right: 1px solid #666666;
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}

table.table_red tr {
	background: #fff;
}

table.table_red tr:last-child td {
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}






table.table_yellow {
	font-size: 0.9em;
	border-spacing: 0;
}

table.table_yellow th {
	color: #fff;
	padding: 8px 15px;
	background: no-repeat 2% center, rgb(173,124,1); /* Old browsers */
	background: no-repeat 2% center, -moz-linear-gradient(top, rgb(173,124,1) 0%,rgb(255,235,64) 100%); /* FF3.6+ */
	background: no-repeat 2% center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(173,124,1)), color-stop(87%,rgba(255,235,64)), color-stop(100%,rgba(255,235,646))); /* 	Chrome,Safari4+ */
	background: no-repeat 2% center, -webkit-linear-gradient(top, rgb(173,124,1) 0%,rgb(255,235,64) 100%);; /* Chrome10+,Safari5.1+ */
	background: no-repeat 2% center, -o-linear-gradient(top, rgb(173,124,1) 0%,rgb(255,235,64) 100%); /* Opera 11.10+ */
	background: no-repeat 2% center, -ms-linear-gradient(top, rgb(173,124,1) 0%,rgb(255,235,64) 100%); /* IE10+ */
	background: no-repeat 2% center, linear-gradient(to bottom,  rgba(173,124,1,1) 0%,rgba(255,235,64,1) 87%,rgba(255,235,64,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#022958', endColorstr='#094d9d',GradientType=0 ); /* IE6-9 */
	font-weight: bold;
	border-left:1px solid #666666;
	border-top:1px solid #666666;
	border-bottom:1px solid #666666;
	line-height: 120%;
	text-align: center;
	text-shadow:1px 1px 4px #000000;
	box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
}

table.table_yellow th:last-child {
	border-right:1px solid #666666;
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1),0px 1px 1px rgba(255,255,255,0.3) inset;
}

table.table_yellow tr td {
	padding: 8px 15px;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #666666;
}

table.table_yellow tr td:last-child {
	border-right: 1px solid #666666;
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}

table.table_yellow tr {
	background: #fff;
}

table.table_yellow tr:last-child td {
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}



/*20150928*/

.pickup_left {
 float: left;
 width: 25%;
 text-align:center;
 vertical-align:top;
 margin-bottom:20px;
}
.pickup_right {
 float: right;
 width: 75%;
}

/*20150929*/

.content_02 {
	padding: 10px 3% 5%;
	margin-right: 0;
	background-image: url(../images/detail_bg_02.png);
}

/*20151007*/
.info_paragraph {
	padding-top: 0px;
	padding-right:20px;
	padding-left: 1em;
	padding-bottom: 20px;
	font-size: 1.0em;
}

.paragraph_details {
	padding-left:1em;
}

.card_paragraph {
	padding-left: 2em;
}

/*20151102*/
.item_left {
 float: left;
 width: 60%;
}
.item_right {
 float: right;
 width: 40%;
 text-align:center;
 vertical-align:middle;
}

/*20151117*/
.houshu_left {
 float: left;
 width: 35%;
 text-align:center;
 vertical-align:middle;
}
.houshu_right {
 float: right;
 margin-left:1em;
 width: 60%;
}