#div_right_sidebar{
  /*border-right-style:solid;
  border-right-color:silver;
  border-right-width:2px;
  width:250;
  height:100%;
  position:fixed;
  left:0px;
  overflow:auto;*/
  width:255px;height:100%;position:fixed;top:8px;overflow:auto;
}
#div_content{
  /*height:auto;
  width:1500;
  overflow:auto;*/
  margin:8px 0px 0px 255px;position:absolute;
}
.exchage_box{
display: inline-block;
vertical-align : top;
}
.sidebar{
background-position: 35px;
  background-size:179px 35px;
  background-repeat:no-repeat;
  width:214px;
  height:40px;
  padding-left:15px;
  text-align:center;
  line-height:35px;
  color:#9D7D5C;
  font-weight: bold;
  font-size: 1.1em;
  /*text-shadow:1px 1px 1px #000000;*/
}
.sidebar:hover{
background-position: 40px;
  width:219px;
  padding-left:17.5px;
  opacity: 0.6;
}
.sidebarl{
  background-size:214px 55px;
  background-repeat:no-repeat;
  width:214px;
  height:55px;
  padding-left:10px;
  text-align:center;
  line-height:50px;
  color:#9D7D5C;
  font-weight: bold;
  font-size: 1.2em;
  /*text-shadow:1px 1px 1px #000000;*/
}
.sidebarl:hover{
background-position: 5px;
  width:219px;
  padding-left:12.5px;
  opacity: 0.6;
}
.sidebar2{
  background-size:214px 55px;
  background-repeat:no-repeat;
  width:214px;
  height:55px;
  padding-left:10px;
  text-align:center;
  line-height:50px;
  color:#9D7D5C;
  font-weight: bold;
  font-size: 1.2em;
  /*text-shadow:1px 1px 1px #000000;*/
}
.sidebar_event{
background-position: 14px;
  background-size:200px 75px;
  background-repeat:no-repeat;
  width:214px;
  height:75px;
}
.sidebar_event:hover{
  opacity: 0.6;
}
.bkmk{
  background-image:url("../images/bkmk_off.png");
  background-size:140px 40px;
  background-repeat:no-repeat;
  width:140px;
  height:40px;
  text-align:center;
  line-height:40px;
  color:#DDDDDD;
  font-weight: bold;
  font-size: 1.0em;
  float:left;
}
.bkmk:hover{
  background-image:url("../images/bkmk_on.png");
}
.bkmkO{
  background-image:url("../images/bkmk_on.png");
  background-size:140px 40px;
  background-repeat:no-repeat;
  width:140px;
  height:40px;
  text-align:center;
  line-height:40px;
  color:#DDDDDD;
  font-weight: bold;
  font-size: 1.0em;
  float:left;
}
.headline4 {
	display: inline-block;
	font-size: 0.9em;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 1px 1px 4px #000000;
	letter-spacing: 0;
	border: none;
	box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.9), inset 0 1px 0 rgba(255, 255, 255, 0.4);
	border-radius: 5px;
	padding-top: 10px !important;
	padding-left: 35px;
	padding-right: 10px;
	padding-bottom: 10px;
	background: url("../images/img_bgmark_logo.png") no-repeat 2% center, rgb(2,41,88); /* Old browsers */
	background: url("../images/img_bgmark_logo.png") no-repeat 2% center, -moz-linear-gradient(top, rgb(90,15,27) 0%,rgb(207,35,36) 100%); /* FF3.6+ */
	background: url("../images/img_bgmark_logo.png") no-repeat 2% center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(90,15,27)), color-stop(87%,rgba(207,35,36)), color-stop(100%,rgba(207,35,36))); /* 	Chrome,Safari4+ */
	background: url("../images/img_bgmark_logo.png") no-repeat 2% center, -webkit-linear-gradient(top, rgb(90,15,27) 0%,rgb(207,35,36) 100%);; /* Chrome10+,Safari5.1+ */
	background: url("../images/img_bgmark_logo.png") no-repeat 2% center, -o-linear-gradient(top, rgb(90,15,27) 0%,rgb(207,35,36) 100%); /* Opera 11.10+ */
	background: url("../images/img_bgmark_logo.png") no-repeat 2% center, -ms-linear-gradient(top, rgb(90,15,27) 0%,rgb(207,35,36) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#022958', endColorstr='#094d9d',GradientType=0 ); /* IE6-9 */
	width: 91%;
	margin-top: 10px;
}
div.large
{
	margin: 0px;
	padding: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px; 
	width: 83px;
	height: 90px;
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
	background-position: top left, center center, center 1.5px, center center;
	background-size: 25px 25px, 83px 90px, 80px 80px, 83px 90px; 
}

#gotop {
	position:fixed;
	right:0px;
	bottom:69px;
	z-index:1000;
	box-shadow:0px 0px 3px #000;
}
#chkJp {
	position:fixed;
	right:-50px;
	bottom:120px;
	z-index:1000;
	box-shadow:0px 0px 3px #000;
	font-size: 0.9em;
	text-align:right;
	background-image: url(../images/detail_bg.png);
}
#chkJp:hover{
	right:0px;
}
.deleted{
	text-decoration: line-through;
	color: #9E9E9E;
}
/* tablesorter */
table.tablesorter {
	font-size: 0.9em;
	border-spacing: 0;
}

table.tablesorter th{
	/*color: #fff;*/
	padding: 5px 5px;
	background-color: #094d9d;
	font-weight: bold;
	border-left:1px solid #666666;
	border-top:1px solid #666666;
	border-bottom:1px solid #666666;
	line-height: 120%;
	text-align: center;
	text-shadow:1px 1px 4px #000000;
	box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	/*color: #fff;*/
	padding: 5px 5px;
	background-color: #094d9d;
	font-weight: bold;
	border-left:1px solid #666666;
	border-top:1px solid #666666;
	border-bottom:1px solid #666666;
	line-height: 120%;
	text-align: center;
	text-shadow:1px 1px 4px #000000;
	box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
}

table.tablesorter th:last-child {
	border-right:1px solid #666666;
	box-shadow: 2px 0px 1px rgba(0,0,0,0.1),0px 1px 1px rgba(255,255,255,0.3) inset;
}

table.tablesorter tr td {
	padding: 5px 5px;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #666666;
}

table.tablesorter tr td:last-child {
	border-right: 1px solid #666666;
	box-shadow: 2px 0px 1px rgba(0,0,0,0.1);
}

table.tablesorter tr {
	background: #fff;
}

table.tablesorter tr:last-child td {
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
}
table.tablesorter thead tr .header {
	background-image: url(../images/tablesorter/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/tablesorter/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/tablesorter/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #d48227;
}
table.tablesorter tr:nth-child(2n) {
	/*background-color: #ECF2F3;*/
}
table.mouseover tr:hover {
	background-color: #bdd2d5;
}
.star {
	color: #FFD500;
	text-shadow: 1px 1px 1px #000000;
	font-size: 110%;
	text-align:center;
}
.servant_star {
	color: #FFD500;
	text-shadow: 1px 1px 1px #000000;
	font-size: 110%;
}
.ruby {
	font-size: 0.7em;
}
.news {
	font-size: 12px;
}
.classS {
	height: 20px;
	width: 20px;
	vertical-align: middle;
}
.classF {
	height: 50px;
	width: 50px;
	vertical-align: middle;
}
.classA {
	height: 50px;
	width: 50px;
	vertical-align: middle;
}
.classAR {
	height: 50px;
	width: 50px;
	vertical-align: middle;
}
div.warIcon {
	width:40px;
	height:30px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto 30px;
	float:left;
}
.itemS {
	height: 30px;
	vertical-align: middle;
}
.itemSH {
	height: 30px;
	vertical-align: middle;
	border:2px red solid;
}
.itemST {
	height: 30px;
	width: 30px;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-size: auto 100%;
	font-size: 12px;
	color: #FFFFFF;
	text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black;
	text-align: right;
	padding: 15px 2px 2px 0px;
	box-sizing: border-box;
  display: inline-block;
	margin:0px auto;
}
.itemMT {
	height: 50px;
	width: 50px;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-size: auto 100%;
	font-size: 12px;
	color: #FFFFFF;
	text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black;
	text-align: right;
	padding: 35px 5px 5px 0px;
	box-sizing: border-box;
  display: inline-block;
  margin:0px auto;
}
.itemLT {
	height: 70px;
	width: 70px;
	vertical-align: top;
	background-repeat: no-repeat;
	background-size: auto 100%;
	font-size: 14px;
	color: #FFFFFF;
	text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black;
	text-align: right;
	padding: 45px 5px 5px 0px;
	box-sizing: border-box;
  display: inline-block;
  margin:0px auto;
}
.itemMTR {
	height: 50px;
	width: 50px;
	vertical-align: bottem;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-size: 12px;
	color: #FFFFFF;
	text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black;
	text-align: right;
	padding: 25px 0px 0px 0px;
	box-sizing: border-box;
  float: left;
}
.itemM {
	height: 60px;
	vertical-align: middle;
}
table .box{
	background:#eee;
	display:none;
}
.red{
	color: #FF0000;
	font-weight: bold;
}
.green{
	color: #006400;
	font-weight: bold;
}
.blue{
	color: #5555FF;
	font-weight: bold;
}
div.spotname{
	width:117px;
	height:15px;
	color: #FFF;
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	padding: 5px 10px;
	margin-top: 2px;
	background-image: url("../images/icon/war/spot_name.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 30px;
	float:left;
}
div.questinfo{
	height:15px;
	text-align: center;
	padding: 5px 5px;
	margin-top: 2px;
	float:left;
}
table.nopadding th{
	padding:0px 0px;
}
table.nopadding tr td{
	padding:0px 0px;
}
th.red{
	color: #FF0000;
}
th.green{
	color: #00FF00;
}
th.blue{
	color: #0099FF;
}
span.hint {
	cursor: help;
	border-bottom: 1px dotted;
}
a.hint {
	cursor: help;
	color: #4d0000;
}
table.noborder tr td
{
	border:0px;
	box-shadow:0px 0px 0px;
}
table.noborder tr
{
	background:none;
}
table.table_non tr td
{
	border:0px;
	box-shadow:0px 0px 0px;
}
table.table_non tr
{
	background:none;
}
.headline5 {
	display: inline-block;
	font-size: 0.9em;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 1px 1px 4px #000000;
	letter-spacing: 0;
	border: none;
	box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.9), inset 0 1px 0 rgba(255, 255, 255, 0.4);
	border-radius: 5px;
	padding-top: 10px !important;
	padding-left: 35px;
	padding-right: 10px;
	padding-bottom: 10px;
	background: url("../images/img_bgmark_logo.png?t=20150718") no-repeat 2% center, rgb(236,117,0); /* Old browsers */
	background: url("../images/img_bgmark_logo.png?t=20150718") no-repeat 2% center, -moz-linear-gradient(top, rgb(236,117,0) 0%,rgb(255,235,64) 100%); /* FF3.6+ */
	background: url("../images/img_bgmark_logo.png?t=20150718") no-repeat 2% center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,117,0,1)), color-stop(87%,rgba(255,235,646)), color-stop(100%,rgba(207,35,36))); /* 	Chrome,Safari4+ */
	background: url("../images/img_bgmark_logo.png?t=20150718") no-repeat 2% center, -webkit-linear-gradient(top, rgb(236,117,0) 0%,rgb(255,235,64) 100%);; /* Chrome10+,Safari5.1+ */
	background: url("../images/img_bgmark_logo.png?t=20150718") no-repeat 2% center, -o-linear-gradient(top, rgb(236,117,0) 0%,rgb(255,235,64) 100%); /* Opera 11.10+ */
	background: url("../images/img_bgmark_logo.png?t=20150718") no-repeat 2% center, -ms-linear-gradient(top, rgb(236,117,0)) 0%,rgb(255,235,64) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#022958', endColorstr='#094d9d',GradientType=0 ); /* IE6-9 */
	width: 91%;
	margin-top: 10px;
}
.notice2 {
	font-size: 1.1em;
	font-weight: bold;
	color: #E30003;
}
dl.accordion dd.acd {
	display:none;
	margin:0px 0px 0px 0px;
}
dl.accordion dd p {
	padding: 5px;
	margin: 0;
}
dt.act .arrowAC{
	background-image: url("../images/2016/03/arrow_open.png");
	background-size: 20px 20px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	float: right;
}
dt.open .arrowAC{
	background-image: url("../images/2016/03/arrow_close.png");
	background-size: 20px 20px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	float: right;
}
.noticeicon {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	padding: 0px 2px;
	background: -moz-linear-gradient(  top,  #fd6a88 0%,  #fd093a);
	background: -webkit-gradient(  linear, left top, left bottom,  from(#fd6a88),  to(#fd093a));
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #fd093a;
	-moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5),  inset 0px 0px 1px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5),  inset 0px 0px 1px rgba(255,255,255,0.5);
	box-shadow: 0px 1px 3px rgba(000,000,000,0.5),  inset 0px 0px 1px rgba(255,255,255,0.5);
	text-shadow: 0px -1px 0px rgba(000,000,000,0.7),  0px 1px 0px rgba(255,255,255,0.3);
	width: 40px;
	float: right;
	text-align: center;
}
h2 {
	color: #02509F;
	margin-top: 0;
	font-size: 1.1em;
	text-shadow:1px 1px 1px #000000;
}
/* line 17, ../sass/view/_index.scss */
.slick-initialized .slick-slide {
  outline: none;
}
/* line 21, ../sass/view/_index.scss */
.slide {
  position: relative;
  margin: auto;
  width: 256px;
  height: 256px;
}
/* line 25, ../sass/view/_index.scss */
.slide .slick-arrow {
  margin: auto;
  top: 50px;
  bottom: 0;
}
/* line 31, ../sass/view/_index.scss */
.slide .slick-prev,
.slide .slick-next,
.slide .slick-prev:before,
.slide .slick-next:before {
  width: 45px;
  height: 50px;
  background-size: cover;
}
/* line 39, ../sass/view/_index.scss */
.slide .slick-prev {
  left: -25px;
  z-index: 10;
}
/* line 43, ../sass/view/_index.scss */
.slide .slick-next {
  right: -25px;
  z-index: 10;
}
/* line 47, ../sass/view/_index.scss */
.slide .slick-prev:before,
.slide .slick-next:before {
  content: "";
  opacity: 1;
  display: block;
}
/* line 53, ../sass/view/_index.scss */
.slide .slick-prev:before {
  background-image: url('../images/left_btn.png?1449451608');
}
/* line 56, ../sass/view/_index.scss */
.slide .slick-next:before {
  background-image: url('../images/right_btn.png?1449451608');
}
/* line 60, ../sass/view/_index.scss */
.slide .slick-slide img {
  margin: 0 auto;
  max-width: 800px;
  height: auto;
  /*width: 100%;*/
}
/* line 67, ../sass/view/_index.scss */
.slide .slick-dots {
  bottom: -30px;
  }
/* line 70, ../sass/view/_index.scss */
.slide .slick-dots li button:before {
  color: #bfbfbf;
  opacity: 1;
}
/* line 74, ../sass/view/_index.scss */
.slide .slick-dots li.slick-active button:before {
  color: #19edff;
  opacity: 1;
}
.clearfix li {
    /*float: left;
    display: inline;
    margin: 0 8px 5px 0;
    border: 1px #363 solid;
    background-color: #fff;
    padding: 2px;*/
    text-align: center;
    list-style: none;
}
th.th_yellow  {
	color: #fff;
	padding: 8px 15px;
	background: no-repeat 2% center, rgb(173,124,1); /* Old browsers */
	background: no-repeat 2% center, -moz-linear-gradient(top, rgb(173,124,1) 0%,rgb(255,235,64) 100%); /* FF3.6+ */
	background: no-repeat 2% center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(173,124,1)), color-stop(87%,rgba(255,235,64)), color-stop(100%,rgba(255,235,646))); /* 	Chrome,Safari4+ */
	background: no-repeat 2% center, -webkit-linear-gradient(top, rgb(173,124,1) 0%,rgb(255,235,64) 100%);; /* Chrome10+,Safari5.1+ */
	background: no-repeat 2% center, -o-linear-gradient(top, rgb(173,124,1) 0%,rgb(255,235,64) 100%); /* Opera 11.10+ */
	background: no-repeat 2% center, -ms-linear-gradient(top, rgb(173,124,1) 0%,rgb(255,235,64) 100%); /* IE10+ */
	background: no-repeat 2% center, linear-gradient(to bottom,  rgba(173,124,1,1) 0%,rgba(255,235,64,1) 87%,rgba(255,235,64,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#022958', endColorstr='#094d9d',GradientType=0 ); /* IE6-9 */
	font-weight: bold;
	border-left:1px solid #666666;
	border-top:1px solid #666666;
	border-bottom:1px solid #666666;
	line-height: 120%;
	text-align: center;
	text-shadow:1px 1px 4px #000000;
	box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
}
th.th_red  {
	color: #fff;
	padding: 8px 15px;
	background: no-repeat 2% center, rgb(90,15,27); /* Old browsers */
	background: no-repeat 2% center, -moz-linear-gradient(top, rgb(90,15,27) 0%,rgb(207,35,36) 100%); /* FF3.6+ */
	background: no-repeat 2% center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(90,15,27)), color-stop(87%,rgba(207,35,36)), color-stop(100%,rgba(207,35,36))); /* 	Chrome,Safari4+ */
	background: no-repeat 2% center, -webkit-linear-gradient(top, rgb(90,15,27) 0%,rgb(207,35,36) 100%);; /* Chrome10+,Safari5.1+ */
	background: no-repeat 2% center, -o-linear-gradient(top, rgb(90,15,27) 0%,rgb(207,35,36) 100%); /* Opera 11.10+ */
	background: no-repeat 2% center, -ms-linear-gradient(top, rgb(90,15,27) 0%,rgb(207,35,36) 100%); /* IE10+ */
	background: no-repeat 2% center, linear-gradient(to bottom,  rgba(90,15,27,1) 0%,rgba(207,35,36,1) 87%,rgba(207,35,36,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#022958', endColorstr='#094d9d',GradientType=0 ); /* IE6-9 */
	font-weight: bold;
	border-left:1px solid #666666;
	border-top:1px solid #666666;
	border-bottom:1px solid #666666;
	line-height: 120%;
	text-align: center;
	text-shadow:1px 1px 4px #000000;
	box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
}
.strong {
font-weight: bold;
}
.em01{
display:block;
/*margin: 0;*/
padding-left: 1em;
}
.skill01{
display:block;
/*margin: 0;*/
padding-left: 2em;
}
.notice_em01 {
 color: #FF0057;
 font-weight: bold;
/* margin: 0;*/
padding-left: 1em;
}
.topblock {
position:fixed;
_position:absolute;
top:0;
background-image: url(../images/detail_bg.png);
margin-top:-30px;
opacity:0.3;
}
.topblock:hover {
margin-top:0px;
opacity:1;
}
.topblock2 {
position:fixed;
_position:absolute;
top:0;
background-image: url(../images/detail_bg.png);
margin-top:-70px;
opacity:0.3;
}
.topblock2:hover {
margin-top:0px;
opacity:1;
}
.topblock3 {
position:fixed;
_position:absolute;
top:0;
background-image: url(../images/detail_bg.png);
margin-top:-110px;
opacity:0.3;
}
.topblock3:hover {
margin-top:0px;
opacity:1;
}
span.new {
  /*position: relative;
  content: " ";
  top: 10px;
  left: 10px;*/
  width: 49px;
  height: 19px;
  background: url('../images/new_tab.png') no-repeat;
  background-size: contain;
  float:left;
}
.notice2 {
 font-size: 1.1em;
 font-weight: bold;
}
article img {
    margin: 0;
    max-width: 100%;
    height: auto;
}
table.mt-15 .star {
	color: #c0972d;
	font-weight: bold;
	text-shadow: none;
	font-size: 100%;
	text-align: left;
}
.gainen_ttl {
	color: #053976;
	font-weight: bold;
}
.gainen_atk {
	color: #ff000c;
	font-weight: bold;
}
.gainen_hp {
	color: #0024ff;
	font-weight: bold;
}
.gainen_skill {
	color: #0072ff;
	font-weight: bold;
}
/* 菱形 */
.diamond {
	color: #cb0000;
}
.notes {
	color: #666666;
	font-style:italic;
}
.face_icon {
	background-image:url("../images/icon/faces/0.png");
	background-size: 60px 60px;
	background-repeat: no-repeat;
	width:60px;
	height:60px;
}
.face_icon50 {
	background-image:url("../images/icon/faces/0.png");
	background-size: 50px 50px;
	background-repeat: no-repeat;
	width:50px;
	height:50px;
}
.face_icon_cc {
	background-size: 60px 60px;
	background-repeat: no-repeat;
	width:60px;
	height:60px;
}
.face_icon_cc1 {
	background-image:url("../images/icon/frames/listcframes1_bg.png");
}
.face_icon_cc2 {
	background-image:url("../images/icon/frames/listcframes2_bg.png");
}
.face_icon_cc3 {
	background-image:url("../images/icon/frames/listcframes3_bg.png");
}

.period{
    box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.9), inset 0 1px 0 rgba(255, 255, 255, 0.4);
	background: linear-gradient(to bottom, rgba(2,41,88,1) 0%,rgba(9,77,157,1) 87%,rgba(9,77,157,1) 100%);
	width: 100%;
	margin-bottom:-10px;
}
.period_tx{
	padding:10px 20px;
    font-size: 0.8em;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px 1px 4px #000000;
}
.pb10{
	padding-bottom:10px;
}

.box1 {
    padding: 1em 1em 0 1em;
    border: solid 1.5px #A0A0A0;
	margin:10px;
	
}
.box1 p {
    margin: 0; 
    padding: 0;
}

.float_box {
  overflow: hidden;
}
.float_box .float_none_box {
  float: none;
}
.float_box .float_left_box {
  float: left;
}
.float_box .float_right_box {
  float: right;
}
article .table_box{
	margin-bottom: 15px;
}
article .table_box p{
	margin: 0 0 5px 0;
	padding: 0;
	font-weight:bold;
	float: none
}

article .card_box{
	margin: 0 0 15px 0;
}

article .card_box p{
	margin: 0 0 0 0;
}

article .heading{
	margin: 0 0 5px 0;
}

table {
	font-size: 0.9em;
	border-spacing: 0;
	color: #000;
}
.center{
	text-align: center;
}
table.trbgcolor tr:nth-child(2n+1) {
	background-color: #ECF2F3;
}

table.trbgcolor2 tr:nth-child(2n+2) {
	background-color: #ECF2F3;
}

table td.right {
	text-align: right;
}

.indent {
text-indent: -1em;
padding-left: 1em;
display: block;
}
ul.indent_list {
margin-bottom: 15px;
word-wrap: break-word;
}
ul.indent_list li {
font-size:0.9em;
line-height: 1.4em;
text-indent: -1em;
padding-left: 1em;
}

/*囲み枠*/
.attention{
	padding: 1em 1em 0 1em;
	border: solid 1.5px #c2c2c2;
	margin: 10px;
}

.attention_red {
    padding: 1em 1em 0 1em;
    border: solid 2px #e8000b;
    margin: 10px;
    background-color: #f7d2d4;
}

.attention2{
	padding: 1em 1em 0 1em;
	border: solid 1.5px #e8000b;
	margin: 10px;
}


/*概念礼装*/
.reisou_left{
	width:30%;
	vertical-align:top;
}

.reisou_left img{
	align:left;
	width:90%;
	vertical-align:bottom;
}

.reisou_right{
	 width:70%;
	 vertical-align:top;
}


/*ひしがた*/
article *.dia {
	color: #000;
	font-weight: bold;
	font-size: 0.9em;
	margin: 0;
}

article *.dia:after, article *.dia:before {
	display: inline-block;
	font-size: 1em;
	content: "◆";
	color: #cb0000;
	vertical-align: middle;
	margin-bottom: .2em;
}


/*小見出し*/
.tips {
    font-weight: bold;
    font-size: 103%;
    border-bottom: solid 3px #661810;
    position: relative;
    padding: 3px;
    line-height: 30px;
}

.tips::before {
    content: "▶";
    color: #89313a;
    font-size: 1.2em;
    display: inline-block;
    vertical-align: middle;
}

.sut_col{
	color: #0857F7;
}
.sun_col{
	color: #FF0004;
}



/*intermission*/
/**Right_image**/
.intermission_left_txt{
	width: 53%; 
	min-width: 250px; 
	padding-left: 1%; 
}

.intermission_left_txt .clear{
float: left; 
max-width: 210px;
}

.intermission_left_txt .item{
   float: left; 
	margin-left: 10px; 
	width: 40px;
}

.intermission_right_img{
    width: 46%;
	vertical-align: bottom;
}


/***Left_image***/
.intermission_right_txt{
	width: 53%; 
	min-width: 250px; 
	padding-left: 1%; 
}

.intermission_right_txt .clear{
float: left; 
max-width: 210px;
}

.intermission_right_txt .item{
   float: left; 
	margin-left: 10px; 
	width: 40px;
}

.intermission_left_img{
    width: 46%;
	vertical-align: bottom;
}

.intermission_itemlist{
	margin: 0; 
	max-width:800px;
	text-align: right;
}


/*汎用小見出し*/
.headline::before {
    content: "■";
    color: #cb0101;
    font-size: 1.2em;
    display: inline-block;
    vertical-align: middle;
}

.headline {
    font-weight: bold;
    font-size: 103%;
}

/*番号をリンクしない*/
.no-tel a[href^="tel:"]  {
    color: #000;
    text-decoration: none;
    pointer-events: none;
}	

/*赤字*/
.font_red{
	color: #FF0000;
}

/*追記*/
.addition{
	font-weight: bold;
    font-size: 103%;	
}


/*破線 点線*/
.dashed{
  border-top: 1px dashed #bbb;
  border-bottom: 1px dashed #eee;	
}

/* 表の背景水色 */
.tb_col_dl{
	background: no-repeat 2% center, rgb(0, 110, 150); /* Old browsers */
	background: no-repeat 2% center, -moz-linear-gradient(top, rgb(0, 110, 150) 0%, rgb(20, 165, 210) 100%); /* FF3.6+ */
	background: no-repeat 2% center, -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 110, 150)), color-stop(87%, rgba(20, 165, 210)), color-stop(100%, rgba(20, 165, 210))); /* 	Chrome,Safari4+ */
	background: no-repeat 2% center, -webkit-linear-gradient(top, rgb(0, 110, 150) 0%, rgb(20, 165, 210) 100%);
	; /* Chrome10+,Safari5.1+ */
	background: no-repeat 2% center, -o-linear-gradient(top, rgb(0, 110, 150) 0%, rgb(20, 165, 210) 100%); /* Opera 11.10+ */
	background: no-repeat 2% center, -ms-linear-gradient(top, rgb(0, 110, 150) 0%, rgb(20, 165, 210) 100%); /* IE10+ */
	background: no-repeat 2% center, linear-gradient(to bottom, rgba(0, 110, 150,1) 0%, rgba(20, 165, 210,1) 87%, rgba(20, 165, 210,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e96', endColorstr='#14a5d2', GradientType=0 ); /* IE6-9 */
}


/* 表の背景赤ピンク色 */
.tb_col_pink {
    background: no-repeat 2% center, rgb(190, 30, 40);
    background: no-repeat 2% center, -moz-linear-gradient(top, rgb(190, 30, 40) 0%, rgb(230, 80, 90) 100%);
    background: no-repeat 2% center, -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(190, 30, 40)), color-stop(87%, rgba(230, 80, 90)), color-stop(100%, rgba(230, 80, 90)));
    background: no-repeat 2% center, -webkit-linear-gradient(top, rgb(190, 30, 40) 0%, rgb(230, 80, 90) 100%);
    background: no-repeat 2% center, -o-linear-gradient(top, rgb(190, 30, 40) 0%, rgb(230, 80, 90) 100%);
    background: no-repeat 2% center, -ms-linear-gradient(top, rgb(190, 30, 40) 0%, rgb(230, 80, 90) 100%);
    background: no-repeat 2% center, linear-gradient(to bottom, rgba(190, 30, 40,1) 0%, rgba(230, 80, 90,1) 87%, rgba(230, 80, 90,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#be1e28', endColorstr='#e6505a', GradientType=0 );
}


.slash{
	background: #bbb;
}

.table_box h2 {
    color: #02509F;
    margin-top: 0;
    font-size: 1.1em;
    text-shadow: 1px 1px 1px #c2c2c2;
    font-weight: bold;
}

/*******item_list*******/

.table_box .item_list{
	border-right: 0;
	box-shadow:0px 2px 0px rgba(0,0,0,0.1);
}

.table_box .item_list_02{
	border-right: 0;
	border-left: 0;
	box-shadow:0px 2px 0px rgba(0,0,0,0.1);
}


.table_box .bd_l_none{
	border-left: 0;
	padding: 0;
	box-shadow:0px 2px 0px rgba(0,0,0,0.1);
}

.table_box .item_img{
	max-width: 75%;
	margin-top: 5px;
	display: block;
}

.table_box .border_non{
	border-bottom: 0;
	box-shadow: none;
}



/*表の色変更*/

.bg01{
	background-color: #d5eaed;
}

.bg02{
	background-color: #edd8db;
}

.bg03{
	background-color: #f4e9e6;
}

.bg04{
	background-color: #ECF2F3;
}

.bg05{
	background-color: #FFF7EB;
}

.txt{
	font-size: 120%;
	font-weight: bold;
}

/**center**/
.txt_center{
	text-align: center!important;
}

/**textbreak**/
.wrap{
	word-break: break-all;
}

.align{
clear:both;
float:left;
width:100px;
}

/****table_title_txtcolor****/


.red_txt {
    color: #EC0002;
}

.green_txt2 {
    color: #03b40a;
}


/****table_title_padding****/

.pdd_regulation table th {
	color: #fff;
	padding: 8px 8px!important;
	background: no-repeat 2% center, rgb(2,41,88); /* Old browsers */
	background: no-repeat 2% center, -moz-linear-gradient(top, rgba(2,41,88,1) 0%, rgba(9,77,157,1) 87%, rgba(9,77,157,1) 100%); /* FF3.6+ */
	background: no-repeat 2% center, -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(2,41,88,1)), color-stop(87%, rgba(9,77,157,1)), color-stop(100%, rgba(9,77,157,1))); /*  Chrome,Safari4+ */
	background: no-repeat 2% center, -webkit-linear-gradient(top, rgba(2,41,88,1) 0%, rgba(9,77,157,1) 87%, rgba(9,77,157,1) 100%); /* Chrome10+,Safari5.1+ */
	background: no-repeat 2% center, -o-linear-gradient(top, rgba(2,41,88,1) 0%, rgba(9,77,157,1) 87%, rgba(9,77,157,1) 100%); /* Opera 11.10+ */
	background: no-repeat 2% center, -ms-linear-gradient(top, rgba(2,41,88,1) 0%, rgba(9,77,157,1) 87%, rgba(9,77,157,1) 100%); /* IE10+ */
	background: no-repeat 2% center, linear-gradient(to bottom, rgba(2,41,88,1) 0%, rgba(9,77,157,1) 87%, rgba(9,77,157,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#022958', endColorstr='#094d9d', GradientType=0 ); /* IE6-9 */
	font-weight: bold;
	border-left: 1px solid #666666;
	border-top: 1px solid #666666;
	border-bottom: 1px solid #666666;
	line-height: 120%;
	text-align: center;
	text-shadow: 1px 1px 4px #000000;
	box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
}

.pdd_regulation table tr td {
	padding: 8px 8px!important;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #666666;
}





/* 表の背景水色 */
.pdd_regulation .tb_col_dl{
	background: no-repeat 2% center, rgb(0, 110, 150); /* Old browsers */
	background: no-repeat 2% center, -moz-linear-gradient(top, rgb(0, 110, 150) 0%, rgb(20, 165, 210) 100%); /* FF3.6+ */
	background: no-repeat 2% center, -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 110, 150)), color-stop(87%, rgba(20, 165, 210)), color-stop(100%, rgba(20, 165, 210))); /* 	Chrome,Safari4+ */
	background: no-repeat 2% center, -webkit-linear-gradient(top, rgb(0, 110, 150) 0%, rgb(20, 165, 210) 100%);
	; /* Chrome10+,Safari5.1+ */
	background: no-repeat 2% center, -o-linear-gradient(top, rgb(0, 110, 150) 0%, rgb(20, 165, 210) 100%); /* Opera 11.10+ */
	background: no-repeat 2% center, -ms-linear-gradient(top, rgb(0, 110, 150) 0%, rgb(20, 165, 210) 100%); /* IE10+ */
	background: no-repeat 2% center, linear-gradient(to bottom, rgba(0, 110, 150,1) 0%, rgba(20, 165, 210,1) 87%, rgba(20, 165, 210,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e96', endColorstr='#14a5d2', GradientType=0 ); /* IE6-9 */
}


/* 表の背景赤ピンク色 */
.pdd_regulation .tb_col_pink {
    background: no-repeat 2% center, rgb(190, 30, 40);
    background: no-repeat 2% center, -moz-linear-gradient(top, rgb(190, 30, 40) 0%, rgb(230, 80, 90) 100%);
    background: no-repeat 2% center, -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(190, 30, 40)), color-stop(87%, rgba(230, 80, 90)), color-stop(100%, rgba(230, 80, 90)));
    background: no-repeat 2% center, -webkit-linear-gradient(top, rgb(190, 30, 40) 0%, rgb(230, 80, 90) 100%);
    background: no-repeat 2% center, -o-linear-gradient(top, rgb(190, 30, 40) 0%, rgb(230, 80, 90) 100%);
    background: no-repeat 2% center, -ms-linear-gradient(top, rgb(190, 30, 40) 0%, rgb(230, 80, 90) 100%);
    background: no-repeat 2% center, linear-gradient(to bottom, rgba(190, 30, 40,1) 0%, rgba(230, 80, 90,1) 87%, rgba(230, 80, 90,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#be1e28', endColorstr='#e6505a', GradientType=0 );
}


/**PUテキスト文字**/

.pu_txt_red{
	font-weight: bold;
	color: #cb0000;
}


/**boxはみ出し**/
.ovh_vi {
    overflow: visible!important;
	clear: both;
}


/**blueテキスト**/
.blue_txt{
	font-weight: bold;
	color: #004DD8;

}