    #div_right_sidebar{
      /*border-right-style:solid;
      border-right-color:silver;
      border-right-width:2px;
      width:250;
	  height:100%;
      position:fixed;
      left:0px;
      overflow:auto;*/
      width:250px;height:100%;position:fixed;top:8px;
    }
    #div_content{
      /*height:auto;
      width:1500;
      overflow:auto;*/
	  margin:8px 0px 0px 255px;position:absolute;
    }
	.sidebar{
	background-position: 35px;
      background-size:179px 35px;
	  background-repeat:no-repeat;
	  width:214px;
	  height:40px;
	  padding-left:15px;
	  text-align:center;
	  line-height:35px;
	  color:#9D7D5C;
	  font-weight: bold;
	  font-size: 1.1em;
	  /*text-shadow:1px 1px 1px #000000;*/
    }
	.sidebar:hover{
	background-position: 40px;
	  width:219px;
	  padding-left:17.5px;
	  opacity: 0.6;
    }
	.sidebarl{
      background-size:214px 55px;
	  background-repeat:no-repeat;
	  width:214px;
	  height:55px;
	  padding-left:10px;
	  text-align:center;
	  line-height:50px;
	  color:#9D7D5C;
	  font-weight: bold;
	  font-size: 1.2em;
	  /*text-shadow:1px 1px 1px #000000;*/
    }
	.sidebarl:hover{
	background-position: 5px;
	  width:219px;
	  padding-left:12.5px;
	  opacity: 0.6;
    }