	ul, li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.abgne_tab {
	clear: left;
	width: 95%;
	margin: 5px 0;
	}
	ul.tabs {
		width: 100%;
		height: 32px;
		border-bottom: 1px solid #999;
		border-left: 1px solid #999;
	}
	ul.tabs li {
		width: 10%;
		float: left;
		height: 31px;
		line-height: 31px;
		overflow: hidden;
		position: relative;
		margin-bottom: -1px;	/* 讓 li 往下移來遮住 ul 的部份 border-bottom */
		border: 1px solid #999;
		border-left: none;
		color: #fff;
		font-weight: bold;
		text-align: center;
		text-align: center;
		text-shadow:1px 1px 4px #000000;
		border: 1px solid #fff;
		background: no-repeat 2% center, rgb(2,41,88); /* Old browsers */
		background: no-repeat 2% center, -moz-linear-gradient(top,  rgba(2,41,88,1) 0%, rgba(9,77,157,1) 87%, rgba(9,77,157,1) 100%); /* FF3.6+ */
		background: no-repeat 2% center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(2,41,88,1)), color-stop(87%,rgba(9,77,157,1)), color-stop(100%,rgba(9,77,157,1))); /* 	Chrome,Safari4+ */
		background: no-repeat 2% center, -webkit-linear-gradient(top,  rgba(2,41,88,1) 0%,rgba(9,77,157,1) 87%,rgba(9,77,157,1) 100%); /* Chrome10+,Safari5.1+ */
		background: no-repeat 2% center, -o-linear-gradient(top,  rgba(2,41,88,1) 0%,rgba(9,77,157,1) 87%,rgba(9,77,157,1) 100%); /* Opera 11.10+ */
		background: no-repeat 2% center, -ms-linear-gradient(top,  rgba(2,41,88,1) 0%,rgba(9,77,157,1) 87%,rgba(9,77,157,1) 100%); /* IE10+ */
		background: no-repeat 2% center, linear-gradient(to bottom,  rgba(2,41,88,1) 0%,rgba(9,77,157,1) 87%,rgba(9,77,157,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#022958', endColorstr='#094d9d',GradientType=0 ); /* IE6-9 */
	}
	ul.tabs li a {
		display: block;
		padding: 0 20px;
		color: #fff;
		font-weight: bold;
		text-align: center;
		text-shadow:1px 1px 4px #000000;
		border: 1px solid #fff;
		text-decoration: none;
	}
	ul.tabs li a:hover {
		background: #bf2312;
	}
	ul.tabs li.active  {
		background: #d48227;
		border-bottom: 1px solid #fff;
	}
	ul.tabs li.active a:hover {
		background: #d48227;
	}
	div.tab_container {
		clear: left;
		width: 100%;
		border: 1px solid #999;
		border-top: none;
	}
	div.tab_container .tab_content {
		padding: 10px;
	}
	div.tab_container .tab_content h2 {
		margin: 0 0 20px;
	}
.style1 {
}